<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Input Answer</title>
    <link rel="stylesheet" type="text/css" href="../static/css/main.css" th:href="@{css/main.css}">
</head>
<body>
<main>
    <h1>Multiplication Quiz 1</h1>
    <h2>Problem</h2>
    <h3>Enter your answer</h3>
    <form action="RightAnswer.html" th:action="@{CheckAnswer}">
        <input type="hidden" name="A" th:value="${problem.a}">
        <input type="hidden" name="B" th:value="${problem.b}">
        <p>
            <label for="answer" class="problem_text">
                <span th:text="${problem.a}" class="number">2</span>
                    &times;
                <span th:text="${problem.b}" class="number">2</span> =
            </label>
            <input id="answer" type="text" name="userAnswer"/>
        </p>
        <p>
            <input type="submit" value="Submit">
        </p>
    </form>
</main>
<footer>Sheridan College, 2021</footer>
</body>
</html>
